@import "tailwindcss";

@theme{

    --gradient-active: linear-gradient(to right, hsl(249, 99%, 64%) , hsl(278, 94%, 30%));
    --error: hsl(0, 100%, 66%);
    --gray: hsl(270, 3%, 87%);
    --gray-2: hsl(212, 12%, 71%);
    --white: hsl(0, 100%, 100%);
    --purple-color: hsl(278, 68%, 11%);

    --font-space: 'Space Grotesk Variable', sans-serif;
    --font-size: 18px;
    --font-weight: 500;

   
}

 input:focus{
     
       outline: none;
       border: 1px solid transparent;
       border-radius: 0.5rem;
       background-image: linear-gradient(white, white), var(--gradient-active);
       background-origin: border-box;
       background-clip: padding-box, border-box;
       transition: all 0.3s ease-in-out;
    }